/* html{
    overflow: hidden;
} */

body{
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.background {
    background-image: url('../photo/background.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* margin: auto; */
    height: 100%;
    
    
    /* margin: 0;
    padding: 0; */
}




/* Example Opening Animation */

@keyframes open {
    from {
        right: -100vw;
    }
    to {
        right: 0;
    }
}


/*hide check box*/

#burgerbutton {
    display: none;
}

/* You probably want to replace the text part of the label element with a background via css in productive use */

.burgerimage {
    /* position: absolute; */
    position: fixed;
    top: 25px;
    right: 70px;
    font-size: 30pt;
    cursor: pointer;
    transition: transform 0.8s ease;
    color: white;
    border:#383838;
}

/*menu style*/

nav {
    background-color: transparent;
    display: block;
    height: 130px;
    /* position: fixed; DONT DO THAT*/
    display: block;
    top: 0;
   right: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    display: none;
    position: fixed;
    top: 100px;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style: none;
    right:0;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    
}

nav ul li {
    display: block;
    width: auto;
   
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: transparent;
    display: block;
    padding: 15px;
    height: 75px;
    /* transition: background 0.5s ease; */
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    /* line-height: 2; */
}

nav ul li a:hover {
    /* background-color: transparent; */
    color:black;
}

/* display menu when check box is ticked */

#burgerbutton:checked~ul {
    display: block;
    animation-name: open;
}

/* rotating menu */

#burgerbutton:checked~.burgerimage {
    transform: rotate(90deg);
}

/*logo*/
.navlogo {
    width:50pt;
    height: auto;
    top: 35px;
    position: fixed;
    left: 70px;
   
}



.header{
    text-align: center;
    display:block;
    padding-bottom: 150px;
    padding-top: 3%;
    color:white;
}

.name{
    text-align: center;
    font-size: 100px;
    margin-bottom: 13px;
}

.header, .name{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.explore {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  

/* .top {
    background-image: url('../photo/city.jpg');
    background-repeat: no-repeat;
    height: 95%;
    background-size: cover;
    background-position: center;
    
}

.heading {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
}
*/

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
} 

