.navbar{
    background-color: black;
    height: 100px;
}

.navbartext{
    text-align: center;
    
}

.top {
    background-image: url('../photo/city.jpg');
    background-repeat: no-repeat;
    height: 95%;
    background-size: cover;
    background-position: center;
    
}

.heading {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
}

